version: '3.8'

services:
  postgres:
    image: postgres:12
    container_name: postgres12
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
#      TZ: UTC   # Works fine in Postgres 12
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
